{{ 'repeating-blocks.css' | asset_url | stylesheet_tag }}

<div class="repeating-blocks-wrapper">
  <div class="block-row-upper">
    {% for i in (1..12) %}
      <div class="repeating-block epi-border"></div>
    {% endfor %}
  </div>
  <div class="block-row-lower">
    {% for i in (1..24) %}
      <div class="repeating-block epi-border"></div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Repeating Blocks",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Repeating Blocks"
    }
  ]
}
{% endschema %}
