{{ 'scrolling-text.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign block_width = 350
  assign group_width = block_width | times: section.blocks.size
  assign foo1 = 1920 | plus: block_width | plus: block_width
  assign number_to_repeat = foo1 | divided_by: group_width | floor
  assign total_length = number_to_repeat | times: group_width | append: 'px'
  assign speed = section.settings.animation_speed
  assign animation_time = total_length | divided_by: speed | append: 's'
-%}

{%- style -%}
  @keyframes marquee {
    from {right: 0px;}
    to {right: {{ total_length }};}
  }

  .marquee-wrapper {
    position: relative;
    animation: marquee {{ animation_time }} linear infinite;
    animation-name: marquee;
  }
{%- endstyle -%}

<div class="scrolling-marquee-section">
  <div class="marquee-wrapper">
      <div class="marquee-group">
        {% for i in (1..4) %}
          {% for block in section.blocks %}
            <div class="marquee-block">
              <div class="scrolling-text-intro">
                free from
              </div>
              <div class="scrolling-text-subject">
                {{ block.settings.free-from-text }}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div> 
  </div>
</div>

{% schema %}
{
  "name": "Scrolling Text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "animation_speed",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "p/s",
      "label": "Animation Speed (pixels/second)",
      "default": 100
    }
  ],
  "blocks": [
    {
      "name": "Text Block",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "free-from-text",
          "label": "Free From Text",
          "default": "TEXT"
        }    
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling Text",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "free-from-text": "parabens"
          }
        },
        {
          "type": "text",
          "settings": {
            "free-from-text": "cruelty"
          }
        },
        {
          "type": "text",
          "settings": {
            "free-from-text": "sulfates"
          }
        },
        {
          "type": "text",
          "settings": {
            "free-from-text": "ARTIFICIAL FRAGRANCE"
          }
        }
      ]
    }
  ]
}
{% endschema %}