:root {
  --marquee-boxes-width: 350px;
}

.marquee-wrapper,
.marquee-group {
  height: 100%;
  display: flex;
}

.scrolling-marquee-section {
  height: 50px;
  background-color: rgb(var(--color-epi-black));
  overflow-x: hidden;
  width: 100%;
}

.scrolling-text-intro,
.scrolling-text-subject {
  color: rgb(var(--color-epi-white));
  display: flex;
  justify-content: center;
}

.scrolling-text-intro {
  width: 40%;
  text-transform: uppercase;
}

.scrolling-text-subject {
  width: 60%;
}

.scrolling-text-intro {
  font-family: 'Merchant-Italic', serif;
}

.scrolling-text-subject {
  font-family: 'VTCDuBois-Regular', serif;
  text-transform: lowercase;
  white-space: nowrap;
}

.marquee-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--marquee-boxes-width);
}

@media screen and (min-width: 750px) {
  .scrolling-text-intro {
    font-size: 1.4rem;
  }
  
  .scrolling-text-subject {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 749px) {
  .scrolling-text-intro {
    font-size: 1.2rem;
  }
  
  .scrolling-text-subject {
    font-size: 1.46rem;
  }
}



